language: php

git:
  depth: 1

cache:
  directories:
  - "$HOME/.cache/composer"
  - "$HOME/.composer/cache"

php:
- 7.1
- 7.2

install:
- composer install

script:
- composer grumphp

after_success:
- phpenv config-rm xdebug.ini
- composer scrutinizer
- composer apigen

deploy:
  local-dir: build/docs
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
