imports:
  - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
  tasks.phpstan.config: phpstan.neon
  tasks.phpcs.ignore_patterns:
    - "/benchmarks/"
    - "/spec/"
    - "/tests/"
    - "/vendor/"
    - "/config/"
    - "/Resources/"
    - "/public/"
  extra_tasks:
    phpspec:
      verbose: true
    infection:
      threads: 10
      test_framework: phpspec
      configuration: infection.json.dist
      min_msi: 90
      min_covered_msi: 90

