parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Method loophp\\phptree\\Node\\MerkleNode::normalize\(\) should return loophp\\phptree\\Node\\MerkleNodeInterface but returns loophp\\phptree\\Node\\NodeInterface.#'
        - '#Anonymous function should return loophp\\phptree\\Node\\MerkleNodeInterface but returns loophp\\phptree\\Node\\NodeInterface.#'
